body {
  font-family: "JetBrains Mono", monospace;
}

h6 {
  font-weight: normal;
  line-height: 25px;
  color: #9e4c11;
}

footer {
  font-size: 17px;
}

.bg-image-homepage {
  background-image: url("/images/home-temescal-canyon.jpg");
}

.bg-image-park {
  background-image: url("/images/park-temescal-canyon.jpg");
}

.bg-image-trails {
  background-image: url("/images/trails-temescal-canyon.jpg");
}

.bg-image-advice {
  background-image: url("/images/advice-temescal-canyon.jpg");
}

.bg-image-homepage,
.bg-image-park,
.bg-image-trails,
.bg-image-advice {
  height: 280px;
  width: 100%;
  margin-top: 50px;
}

.navbar-light .navbar-brand {
  color: #235608;
}

.navbar-brand,
.navbar-collapse {
  font-size: 16px;
}

.navbar-nav > li {
  padding: 0 8px;
}

.intro-text {
  padding: 0 20px;
}

.section-title {
  margin-bottom: auto;
}

.google-map-div {
  padding: 0;
}

.map-rows {
  margin-bottom: 55px;
}

.footer-icons {
  font-size: 20px;
  padding-bottom: 12px;
  color: #9e4c11;
}

/* cropping the svg imgs */

/* homepage svg images */
.bicycle,
.hiking-backpack {
  width: 300px;
  height: 140px;
  object-fit: cover;
}

.map {
  width: 320px;
  height: 120px;
  object-fit: cover;
}

.weather-icon {
  width: 275px;
  height: 120px;
  object-fit: cover;
}

/* park page svg images */
.walking {
  width: 270px;
  height: 190px;
  object-fit: cover;
}

.meal {
  width: 250px;
  height: 160px;
  object-fit: cover;
}

.party {
  width: 270px;
  height: 200px;
  object-fit: cover;
}

.biker {
  width: 300px;
  height: 190px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .navbar-brand,
  .navbar-collapse {
    font-size: 12px;
  }

  .navbar-toggler-icon {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  footer {
    font-size: 15px;
  }

  .bg-image-homepage,
  .bg-image-park,
  .bg-image-trails,
  .bg-image-advice {
    height: 220px;
    margin-top: 30px;
  }

  .intro-text {
    font-size: 13px;
  }

  .footer-icons {
    color: #409b0e;
  }

  .bicycle,
  .hiking-backpack,
  .map,
  .weather-icon {
    display: none;
  }

  .google-map {
    width: 320px;
    height: 300px;
  }

  .grid a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid p {
    text-align: center;
    font-size: 13px;
  }
  .section-title {
    padding-top: 10px;
  }
  .map-rows {
    margin-bottom: 30px;
  }
}
