body {
  font-family: "JetBrains Mono", monospace;
}

h6 {
  font-weight: normal;
  line-height: 25px;
  color: #9e4c11;
}

footer {
  font-size: large;
}

.bg-image {
  background-image: url("/images/home-temescal-canyon.jpg");
  height: 280px;
  margin-top: 50px;
}

.navbar-light .navbar-brand {
  color: #235608;
}

.navbar-brand,
.navbar-collapse {
  font-size: 16px;
}

.navbar-nav > li {
  padding: 0 8px;
}

.intro-text {
  padding: 0 20px;
}

.footer-icons {
  font-size: 20px;
  padding-bottom: 12px;
  color: #9e4c11;
}

/* cropping the svg imgs */

.bicycle,
.hiking-backpack {
  width: 300px;
  height: 140px;
  object-fit: cover;
}

.map {
  width: 320px;
  height: 120px;
  object-fit: cover;
}

.weather-icon {
  width: 275px;
  height: 120px;
  object-fit: cover;
}

@media (max-width: 600px) {
  .navbar-brand,
  .navbar-collapse {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  footer {
    font-size: 15px;
  }

  .bg-image {
    height: 240px;
    margin-top: 30px;
  }

  .intro-text {
    font-size: 14px;
  }

  .footer-icons {
    color: #409b0e;
  }

  .bicycle,
  .hiking-backpack,
  .map,
  .weather-icon {
    display: none;
  }
  .grid a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid p {
    text-align: center;
    font-size: 14px;
  }
}
